extends layout
block content

    h1= title
    form(id='CustomerForm', action="/resource/customers", method="POST")
        div.form-group
            label.costumeAttr(for='Cust_Name') Customer Name
            input#costume_type(type='text', name='Cust_Name')
        div.form-group
            label.costumeAttr(for='Cust_Name') Customer Age
            input#size(type='number', name='Cust_Age')
        div.form-group
            label.costumeAttr(for='Mail_Id') Mail Id
            input#cost(type='text', name='Mail_Id')
        input(type="submit")
    script.
        document.forms['CustomerForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Save succeded")
                // TODO handle body
            }).catch((error) => {
                // TODO handle error
                alert("Save failed " + error )
            });
        });

